.btn{
    padding: .5em 1em;
    background-color: #222;
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.btn:hover{
    color: #fb3;
}



@media (max-width: 768px){

    .btn{
        font-size: 1em;
        
    }


   }
   @media (max-width: 425px){

    .btn{
        font-size: .9em;
        
    }


   }